<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j2web.web.database.mapper.users.UserMapper">

    <!-- 查询用户列表数据 -->
    <select id="selectUsersList" resultType="hashmap">
        select
        u.id as id,
        u.username as username,
        date_format(u.createdate, '%Y-%m-%d %H:%i:%s') as createdate,
        date_format(u.modifydate, '%Y-%m-%d %H:%i:%s') as modifydate,
        u.sex as sex,
        u.email as email,
        u.enable as enable
        from
        users u
        <where>
            <if test="username != null and username !='' ">
                u.username like #{username}
            </if>
        </where>
        limit #{start}, #{length}
    </select>

    <!-- 用户总记录数 -->
    <select id="countUsersTotal" resultType="int">
        select
        count(1)
        from
        users u
        <where>
            <if test="username != null and username !='' ">
                u.username like #{username}
            </if>
        </where>
    </select>

</mapper>